body {
    font-family: Arial, sans-serif;
    background-color: #C1CBD7;
}

header {
    background-color: #5B799E;
    color: #fff;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

header h1 {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}

#result {
    font-weight: bold;
}

#map {
    height: 550px;
}

.btn {
    cursor: pointer;
    font-weight: bold;
    background-color: #8DA3BD;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #a8b8cc;
}

#search-city {
    padding-top: 20px;
    padding-bottom: 20px;
}

#result {
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 50px 50px 50px 50px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#city{
    font-size: 40px;
}

#temp{
    font-size: 50px;
}

#description{
    padding-top: 5px;
    font-size: 20px;
}

#max_min{
    font-size: 20px;
}

#alink{
    color: #fff;
    transition: background-color 0.3s;
}
#alink:hover{
    background-color: #C1CBD7;
}