* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bad3be;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    background-color: #81997f;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
}

form {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form label,
form input {
    display: block;
    margin-bottom: 10px;
}

form label {
    font-size: 16px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
td input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
}

form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #9ed1be;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
    width: 30%;
}

form input[type="submit"]:hover {
    background-color: #93b6a2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #9abda7;
    color: #fff;
}

td {
    border-bottom: 1px solid #ddd;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-actions button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #a8c1b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-actions button:hover {
    background-color: #6b7e74;
}

.total-price {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

img {
    max-width: 15%;
    height: auto;
}

h3,
p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.add-to-cart {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    background-color: #9ed1be;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #93b6a2;
}

.remove-item-button {
    background-color: #afb1b0;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.remove-item-button:hover {
    background-color: #7c7c7c;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

td input[type="number"] {
    width: 50px;
}

.col-sm-4{
    padding: 10px;
}