html,
body {
  background-color: #b7e4c7;
}


.background {
  background-image: url("../image/grass.png");
  table-layout: fixed;
  border-spacing: 0;
  opacity: 0.7;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(255, 100, 100);
}

.wall {
  background: white;
}

.actor {
  position: absolute;
}

.player {
  background: rgb(64, 64, 64);
}

.game {
  border-style: solid;
  border-width: 5px;
  border-radius: 5%;
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.viewScore {
  text-align: center;
}

.scream {
  margin-top: 10%;
  margin-left: 20%;
  max-width: 600px;
  max-height: 450px;
}